.header {
  width:80%;
  margin:auto;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border:1px solid black;
  background:gray;
  margin-top:-10px;
}
#questionaire {
  width:80%;
  margin:auto;
  text-align: center;
  padding:10px;
  border-radius: 10px;
  border:2px solid black;
  background: gray;
}
#questionaire div + p, #questionaire p:nth-child(2) {
  font-size: 1.2em;
  font-weight: bold;
}
#questionaire div[id] label {
  width:50%;
  display: block;
  padding:5px;
  font-size: 1.1em;
  background:green;
  border:1px solid black;
  margin:5px auto;
  border-radius: 5px;
}
:checked + label{
  background-color:blue !important;
}
input[type=checkbox] {
  opacity: 0;
  position: absolute;
}
input[type=submit] {
  margin: 15px auto 0px auto;
  width:60%;
  padding:5px;
  border-radius: 5px;
  font-size: 1.2em;
  font-weight: bold;
}
.vacation {
  width:80%;
  margin:auto;
}
.imggallery img {
  width:25%;
}
