.vacation {
  display: none;
}
#questionaire {
  width:90%;
  margin:auto;
  text-align: center;
  padding:10px;
  border-radius: 10px;
  border:2px solid black;
  background: gray;
}
#questionaire > div p {
  font-size: 1.2em;
  font-weight: bold;
}
#questionaire div div[id] label {
  width:90%;
  display: block;
  padding:2%;
  font-size: 1.1em;
  background:green;
  border:1px solid black;
  margin:2%;
  border-radius: 5px;
}
:checked + label{
  background-color:blue !important;
}
input[type=checkbox] {
  opacity: 0;
  position: absolute;
}
input[type=submit] {
  margin: 15px auto 0px auto;
  clear:both;
  padding:5px;
  border-radius: 5px;
  font-weight: bold;
  font-size:.8em;
  width:100%;
  background: green;
  border-color: darkgreen;
}
@media screen and (min-width:450px) {
  input[type=submit] {
    font-size:1.2em;
  }
}
@media screen and (min-width:850px){
    #questionaire > div {
    width:50%;
    float:left;
  }
  #questionaire > div:nth-child(6) {
    float:none;
    margin:0 auto;
  }
  input[type=submit] {
    width:70%;
  }
}
