.header {
  width:80%;
  margin:auto;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border:1px solid;
  margin-top:-10px;
  margin-bottom: 10px;
}
#questionaire {
  width:100%;
  margin:auto;
  text-align: center;
  padding:10px;
  border-radius: 10px;
  border:2px solid;
  margin-left:-5%;
}
#questionaire > div p {
  font-weight: bold;
}
#questionaire div div[id] label {
  width:100%;
  display: block;
  padding:10px 0;
  font-size: 1.1em;
  border:1px solid;
  margin:10px;
  border-radius: 5px;
}
input[type=checkbox] {
  opacity: 0;
  position: absolute;
}
input[type=submit] {
  margin: 15px auto 0px auto;
  clear:both;
  padding:5px;
  border-radius: 5px;
  font-weight: bold;
  font-size:.8em;
  width:100%;
}
.resetButton {
    display:none;
}
.resetButton a {
  display:block;
  width:90%;
  border-radius: 5px;
  border:1px solid;
  text-align: center;
  padding: 10px;
  margin: auto;
  font-weight: bold;
  margin-top:20px;
  text-decoration: none;
  color:black;
}
.vacation {
  width:100%;
  text-align: center;
  display:none;
}
.imggallery img {
  width:100%;
  padding:5px 0;
}
.clear {
  clear:both;
}
.maximg {
  z-index: 10;
  display: none;
  background-color:rgba(0,0,0,.8);
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
}
.maximg div {
  position: fixed;
  left: 50%;
  top:5%;
  bottom:5%;
}
.maximg div img {
  height:auto;
  margin-left:-50%;
  max-height:100%;
  border-radius: 10px;
}
body, .header, #questionaire, .resetButton a:hover {
  background: #edfbc1;
}
#questionaire div div[id] label, input[type=submit], .resetButton a {
  background:#e3de8f;
}
:checked + label{
  background-color:#d5b942 !important;
}
.header, #questionaire, #questionaire div div[id] label, input[type=submit] {
  border-color:#edfbc1;
}
.resetButton a, .vacation {
  border-color: #edfbc1;
}
.resetButton a:hover {
  border-color: #bfcbc2;
}
@media screen and (min-width:450px) {
  input[type=submit] {
    font-size:1.2em;
  }
  #questionaire {
    width:90%;
    margin-left:0;
  }
}
@media screen and (min-width:850px){
  body {
    background: #d5b942;
  }
  .header, #questionaire, #questionaire div div[id] label, input[type=submit] {
    border-color:#d9d375;
  }
  #questionaire {
    margin:auto;
  }
  #questionaire > div {
    width:50%;
    float:left;
  }
  #questionaire > div:nth-child(6) {
    float:none;
    margin:0 auto;
  }
  #questionaire div div[id] label {
    width:90%;
  }
  input[type=submit] {
    width:70%;
  }
  .vacation {
    width:90%;
    margin: auto;
    padding:10px;
    border-radius: 10px;
    border:2px solid #d9d375;
  }
  .vacation h1 {
    font-size: 2em;
  }
  .imggallery {
    margin:auto;
  }
  .imggallery img {
    width:30%;
    display: inline-block;
    margin:1%;
    border-radius: 10px;
  }
}
